<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft1851.demo.mapper.SysCourseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.soft1851.demo.domain.entity.SysCourse">
        <id column="id" property="id" />
        <result column="course_name" property="courseName" />
        <result column="avatar" property="avatar" />
        <result column="local" property="local" />
        <result column="type" property="type" />
        <result column="lesson_number" property="lessonNumber" />
        <result column="time" property="time" />
        <result column="fat_burning" property="fatBurning" />
        <result column="difficulty" property="difficulty" />
        <result column="teacher_name" property="teacherName" />
        <result column="teacher_description" property="teacherDescription" />
        <result column="url" property="url" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, course_name, avatar, local, type, lesson_number, time, fat_burning, difficulty, teacher_name, teacher_description, url
    </sql>

    <insert id="batchInsert" parameterType="com.soft1851.demo.domain.entity.SysCourse">
        INSERT INTO sys_course VALUES
        <foreach collection="courses" item="item" index="index" separator=",">
            (#{item.id},#{item.courseName},#{item.avatar},#{item.local},
            #{item.type},#{item.lessonNumber},#{item.time},
            #{item.fatBurning},#{item.difficulty},#{item.teacherName},
            #{item.teacherDescription},#{item.url})
        </foreach>
    </insert>

</mapper>
