<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft1851.demo.mapper.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.soft1851.demo.domain.entity.SysUser">
        <id column="id" property="id" />
        <result column="user_account" property="userAccount" />
        <result column="user_name" property="userName" />
        <result column="user_password" property="userPassword" />
        <result column="salt" property="salt" />
        <result column="address" property="address" />
        <result column="gender" property="gender" />
        <result column="avatar" property="avatar" />
        <result column="step_number" property="stepNumber" />
        <result column="go_step_number" property="goStepNumber" />
        <result column="go_step_time" property="goStepTime" />
        <result column="signature" property="signature" />
        <result column="follow" property="follow" />
        <result column="fans" property="fans" />
        <result column="daily_attendance" property="dailyAttendance" />
        <result column="height" property="height" />
        <result column="weight" property="weight" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_account, user_name, user_password, salt, address, gender, avatar, step_number, go_step_number, go_step_time, signature, follow, fans, daily_attendance, height, weight, gmt_create, gmt_modified
    </sql>

</mapper>
